﻿@model SignOn.ViewModel.UserLoginVM

@{
    ViewBag.Title = "Index";
}

<div class="row">

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img src="~/Images/Lock.png" style="margin-top:20px; margin-bottom:20px;" />
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>

            @using (Html.BeginForm())
            {
            <div class="panel-body">

                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control", @maxlength = "25" } })
                            @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @maxlength = "25", type = "password" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="submit" value="Login" class="btn btn-default" />
                        @Html.ActionLink("Cancel", "index", "home", null, new { @class = "btn btn-default" })
                    </div>
                </div>

                <div class="col-lg-12" style="margin-top:10px;">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>

            </div>
            }
        </div>

    </div>

</div>