﻿@model SignOn.ViewModel.UserLoginVM

@{
    ViewBag.Title = "Index";
}

<div class="row">
    
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img src="~/Images/Lock.png" style="margin-top:20px; margin-bottom:20px;"/>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    </div>

</div>

