﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#535756; border:0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sign In", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div style="height:40px; background-color:#353535;">
            <div class="container">
                <div class="row">
                    <div class="pull-right">
                        @Html.ActionLink("Sign Out", "Login", "Login", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                </div>
            </div>
        </div>

        <div style="background-color:#535756;">
            <div class="container">
                    @RenderBody()
            </div>
        </div>
    </div>

    <div class="container-fluid" >
        <div style="background-color:#353535; height:100vh;">
            <div class="container">
                <footer >
                    <p style="color:lightgray;">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>